<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="form-wrapper authorization-form-wrapper">
        <div id="authorization-form" class="form-container authorization-form-container">
            <h2>Вход</h2>
            <form action="{% url 'w_auth:login' %}" method="post" class="form-as-p">
                {% csrf_token %}
                {{ login_form.as_p }}

                <p class="error-msg">{{ errors }}</p>
                <p class="submit-button">
                    <input type="submit" class="button" value="Войти" />
                </p>
            </form>
        </div>
    </div>
</body>
</html>